html,body{
 height:100%;
}
body {
	background: #ececec;
}
.menu-superior {
	box-shadow: 0px 0px 8px #000;
}
.row-menu-superior {
	width: 100%;
}
.profile {
	margin-left: 15px;
}
.profile img {
	width: 45px;
	height: 45px;
	object-fit: cover;
	border-radius: 50% 50%;
}
.profile .dropdown-toggle::after {
	color: rgba(255,255,255,.5);
}
.sidebar {
	background: rgb(52 58 64);
	width: 100%;
	padding-right: 0;
	padding-left: 0; 
	position: absolute;
    top: 0;
    left: 0;
    padding-top: 50px;
    min-height: 100%;
    width: 230px;
}
.content {
    margin-left: 230px;
    padding-top: 50px;
    min-height: 100%;
    width: 100%;
    padding: 15px;
}

.content h2 {
      margin-bottom: 1.5rem;
}
#margem {
	margin-left: -18px;
}

.conteudo {
	margin-top: 30px;
}
.sidebar .accordion .card {
	border: none;
	border-radius: 0;
}
.sidebar .accordion .card-header {
	width: 100%;
	border-radius: 0;
}
.sidebar .accordion .card-header {
	background-color: rgb(52 58 64);
}
.sidebar .accordion .card-body {
	background-color: #475156;
	padding:  0;
}
.sidebar .btn-link, .sidebar .nav-link {
	color:  white;
	display: block;
}
.sidebar .btn-link:hover {
	color:  white;
}
.sidebar .nav-item:hover {
	background-color: rgb(52 58 64);
	color:  #fff;
	width: 100%;
}
.sidebar .nav-link {
	margin-left: 20px;
}
.icone-sidebar {
	margin-right: 10px;
}

.acao {
	width: 170px;
}

.voltar {
	float: right;
	margin-right: 5px;
}

#login {
    border: 1px solid #28a745;
    border-radius: 10px;
    padding: 8px;
    width: 162px;
    background-color: #28a745;
    color: white;
}

#pessoais {
    border: 1px solid #28a745;
    border-radius: 10px;
    padding: 8px;
    width: 162px;
    background-color: #28a745;
    color: white;
}

#produtos {
    border: 1px solid #ffc107;
    border-radius: 10px;
    padding: 8px;
    width: 189px;
    background-color: #ffc107;
    color: black;
}

.totais {
	position: relative;
	margin:  10px;
}
.clear {
	clear: both;
}
.titulo {
	float: left;
}

#carregando {
	display: none;
	width: 100%;
    height: 100%;
    background: #0000008f;
    position: absolute;
    z-index: 100000;
    top: 0;
}
#carregando img {
	position: relative;
    top: 47%;
    left: 50%;
    z-index: 11000;
    width: 46px;
}